body{
    background-color:white;
}
/* bayan */
.bayan{
    max-width: 90%;
    margin: auto;
    background-color:blanchedalmond;
    border: 10% solid grey;
}
/*bayan-title*/
.bayan-title{
    display: block;
    cursor: pointer; /*очкі за смену курсора*/
    padding: 1%;   
    transition: background-color 1s ease-out; /*очкі- плавная смена*/
}
.bayan-title:hover{
    background-color:red
}
.bayan-input:checked ~ .for-meme{display: block;}
.bayan-continer-meme{
    
    height: 10%;
    width: 20%;
    background-color:blueviolet;
    text-align:center;
    margin: auto;
}
/*.bayan-input{
    appearance: none;
    position:absolute;
}
*/
.png{

}
.for-meme{
    width: 100%;
    display: none;
    text-align:center ; 
    margin: auto;
}

