@media only screen and (max-width: 1920px){
/*
You can't just copy and paste CSS
Keep calm and carry on
Work-life balance
Dude, where is JS?
Relax and take it easy
*/

html{
    scroll-behavior: smooth;
}

body{max-width: 100%;
    background-color:white;
    font-size: 50%;
    color: blue;
    padding: 1%;
}
.bayan{
    max-width: 90%; /*2-одинаковый отступ*/
    margin: 0 auto;/*2-по центру*/
    background-color:lightgrey;
    border-radius: 2%;
    
    
}
.css{font-size: 110%;
    color: black;
    padding-left: 0.5%;
}
/*////////////////////////////фото/мем////////////////////////////////*/
.png{
    width:25%;
}
.bayan-continer-meme{
    max-width: 100%;
    background-color:lightgrey;
    text-align:center;
   
}
/*//////////////////////////////титле//////////////////////////////*/
.string{
    display: flex;
    padding:  0.01% 3%;
    margin: 0.001%;
    justify-content: space-between;
    
}

/*///////////////////////////клікабельность///////////////////////////////////////////*/
.bayan-continer-meme{
    display: none;
    animation: meme 2s;
   
    /**/}

.bayan-title{
    display: block;
    cursor: pointer;/*10-destop-*/
    color: blue;
    padding: 0.01% 3%;
    transition: color 1s;
    cursor: pointer;/*10-destop-*/
   
}
/* .bayan-title:hover{
    color: brown;
*/
.bayan-input{
    appearance: none;/*ісчезает відімый інпут*/
}
.bayan-input:checked~.bayan-continer-meme{
    display: block;/**/
    animation: meme 2s}
/*.bayan-input:not(:checked) ~.bayan-continer-meme{
        display: none;
                animation: memeb 2s
}*/
.bayan-input:checked ~ .string > .bayan-title{
  color: black;
}
.bayan-input:checked ~ .string > .bayan-icon{
    transform: rotate(45deg);
    transition: transform 1s
  }

/*//////////////////////////////клікабельность 11111111111///////////////////////////////////////////////////*/

.bayan-continer-meme1{
    display: block;
    max-width: 100%;
    background-color:lightgrey;
    text-align:center;/**/
    
    
}
.bayan-title1{
    display: block;
    cursor: pointer;/*10-destop-*/
    color:black;
    padding: 0.01% 3%;
    transition: color 1s;
    cursor: pointer;/*10-destop-*/
}
/* .bayan-title:hover{
    color: brown;
*/
.bayan-input{
    appearance: none;/*ісчезает відімый інпут*/
}
.bayan-input:checked~.bayan-continer-meme1{
    display: none;
    animation: meme 2s
} 

.bayan-input:checked ~ .string > .bayan-title1{
  color: blue;
  
}
.bayan-input:checked ~ .string > .bayan-icon1{
    transform: rotate(45deg);
    transition: transform 1s}

/*////////////////////////////////  icon//////////////////*/

.icon-input:checked~ .string >.bayan-icon{
    transform: rotate(45deg);
    transition: transform 1s
}
.icon-input:checked~.bayan-continer-meme{
    display: block;
    animation: meme 2s;}

.icon-input:checked~ .string >.bayan-title{
    color: black;}


@keyframes meme{
        0%{opacity: 0;}
        100% {opacity: 1;}
    }   
.bayan-icon{
    display: none;
    color: black;
    cursor: pointer;/*10-destop-*/}   
.icon-input{
   appearance: none;
}
@keyframes icon{
    0%{transform: rotate(45deg);}
    100% {transform: rotate(0deg)}}
/*////////////////////////////////  icon1111//////////////////*/

.icon-input:checked~ .string >.bayan-icon1{
    transform: rotate(45deg);
    transition: transform 1s
}
.icon-input:checked~.bayan-continer-meme1{
    display: none;
    animation: meme 2s;}
.icon-input:checked~ .string >.bayan-title1{
    color:blue;}
@keyframes meme{
        0%{opacity: 0;}
        100% {opacity: 1;}
    }   
@keyframes memeb{
        0%{opacity: 1;}
        100% {opacity: 0;}
    }   
.bayan-icon1{
    color: black;
    cursor: pointer;
    display: none;/*10-destop-*/}   
    
.icon-input{
   appearance: none;
}
/*/////////////////////////hover/////////////////////////////*/

.string:hover~.bayan-continer-meme{
    display: block;
}

.bayan:hover>.bayan-item>.string>.bayan-title{
    color: black;
}
.bayan:hover>.bayan-item>.string>.bayan-icon{
    display: block;
    }
/*/////////////////////////hover1111111/////////////////////////////*/

.string:hover~.bayan-continer-meme1{
    display: block;
}

.bayan:hover>.bayan-item>.string>.bayan-title1{
    color: black;
}
.bayan:hover>.bayan-item>.string>.bayan-icon1{
    display: block;
    }
}

