@media only screen and (max-width: 820px){
/*
You can't just copy and paste CSS
Keep calm and carry on
Work-life balance
Dude, where is JS?
Relax and take it easy
*/
}
body{max-width: 100%;
    background-color:white;
    font-size: 80%;
    color: blue;
}
.bayan{
    max-width: 85%; /*2-одинаковый отступ*/
    margin: 0 auto;/*2-по центру*/
    background-color:lightgrey;
    border-radius: 2%;
}
.css{
    color: black;
    padding-left: 2%;
}
/*////////////////////////////фото/мем////////////////////////////////*/
.png{
    width:85%;
}
.bayan-continer-meme{
    max-width: 100%;
    background-color:lightgrey;
    text-align:center;
}
/*//////////////////////////////титле//////////////////////////////*/
.string{
    display: flex;
    margin: 3%;
    justify-content: space-between;
}

/*///////////////////////////клікабельность///////////////////////////////////////////*/
.bayan-continer-meme{
    display: none;/**/}

.bayan-title{
    display: block;
    cursor: pointer;/*10-destop-*/
    color: blue;
    padding: 2% 2%;
    transition: color 3s;
}
/* .bayan-title:hover{
    color: brown;
*/
.bayan-input{
    appearance: none;/*ісчезает відімый інпут*/
}
.bayan-input:checked~.bayan-continer-meme{
    display: block;/**/
}
.bayan-input:checked ~ .string > .bayan-title{
  color: black;
}


/*//////////////////////////////клікабельность 11111111111///////////////////////////////////////////////////*/

.bayan-continer-meme1{
    display: block;
    max-width: 100%;
    background-color:lightgrey;
    text-align:center;/**/
    
}
.bayan-title1{
    display: block;
    cursor: pointer;/*10-destop-*/
    color:black;
    padding: 2% 2%;
    transition: color 3s;
}
/* .bayan-title:hover{
    color: brown;
*/
.bayan-input{
    appearance: none;/*ісчезает відімый інпут*/
}
.bayan-input:checked~.bayan-continer-meme1{
    display: none;/**/
}
.bayan-input:checked ~ .string > .bayan-title1{
  color: blue;
}
/*         ////////////////////////////////                          //////////////////*/
/*.png-input{
    appearance: none;/
}*/
